.sectionLeft {
  padding: 7px 20px;
  width: 331px;
  background-color: rgb(63, 65, 63);
  border-top-left-radius: 7px;
  position: relative;
}

.sectionLeft > h4 {
  color: rgb(243, 243, 243);
  border-bottom-color: rgb(63, 65, 63);
}

.hr {
  position: absolute;
  top: 35px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}

.types {
  padding-top: 20px;
  display: flex;
}

.typeLeft {
  display: flex;
  flex-direction: column;
}
.fastMovie,
.typeRight,
.typeLeft > h3 {
  color: rgb(224, 223, 220);
}

.typeLeft > a:hover {
  color: rgb(255, 0, 0);
}

.typeRight {
  margin-left: 43px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.typeRight > a:hover {
  color: rgb(255, 0, 0);
}

.yellow {
  color: rgb(255, 193, 7);
}

.typeRight > a:nth-last-child(2) {
  color: rgb(255, 193, 7);
}

.hT {
  position: absolute;
  top: 245px;
  left: 0;
  width: 120px;
  border: 1px solid rgb(168, 168, 168);
}

.stranam {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  position: relative;
}
a:hover {
  color: rgb(255, 0, 0);
}

.htT {
  position: absolute;
  top: 178px;
  left: 0;
  width: 120px;
  border: 1px solid rgb(168, 168, 168);
}

.serial {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}
a:hover {
  color: rgb(255, 0, 0);
}

.hrr {
  position: absolute;
  top: 612px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}
.fastMovie {
  margin-top: 12px;
}

.hrm {
  position: absolute;
  top: 650px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}

.fastMovieCard{
    display: flex;
    flex-direction: column;
    row-gap: 47px;
    column-gap: 20px;
    margin-top: 28px;
}

.fastMIO{
  display: flex;
  column-gap: 14px;
}

.fastMIO > img{
  width: 83px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.popO > span{
  cursor: pointer;
  text-decoration: underline;
}

.pop > span{
  cursor: pointer;
  color: rgb(255, 200, 0);

}

.movieCardBlock{
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
  row-gap: 19px;
  margin-top: 27px;
  position: relative;
  padding-bottom: 15px;
}


.movieCards{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
 
}

.movieCards > p {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.movieCards > img{
  width: 128px;
   &:hover{
    cursor: pointer;
    opacity: .5;
    border: 1px solid rgb(168, 168, 168);
  }
}

.hrs{
  position: absolute;
  top: 984px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}

.hrsP{
  margin-top: 17px;
  font-size: 15px;
}

.hrrr{
  position: absolute;
  top: 1024px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}

.hst{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}

.hstt{
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 331px;
  border: 1px solid rgb(168, 168, 168);
}